# dev mod
src/main/java/dev/nero/bettercolors/mod/
src/main/resources/META-INF/
src/main/resources/pack.mcmeta
src/main/resources/mcmod.info
src/test/
#build.gradle
gradlew
gradlew.bat
gradle/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/
.gradle/

# other
eclipse
run
